<?xml version="1.0" ?>
<web-app>
	<display-name>Organize App</display-name>
	<description>Organize</description>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Profile</servlet-name>
		<servlet-class>ProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>URL</servlet-name>
		<servlet-class>URLServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>URL</servlet-name>
		<url-pattern>/urls</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Add URL</servlet-name>
		<servlet-class>AddURLServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add URL</servlet-name>
		<url-pattern>/urls/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Remove URL</servlet-name>
		<servlet-class>RemoveURLServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Remove URL</servlet-name>
		<url-pattern>/urls/remove</url-pattern>
	</servlet-mapping>
</web-app>
